@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "patriot";
  src: url("/fonts/Patriot Light.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255;
}

body{
  @apply font-patriot text-white;
}

.initialPoupe{
  opacity: 0;
  animation: fadeAndScale 6s ease-in-out .6s;
  animation-fill-mode: forwards;
}

.welcome{
  opacity: 0;
  animation: fadeIn 1.6s ease-in-out 6.6s;
  animation-fill-mode: forwards;
}

.enter{
  opacity: 0;
  animation: fadeIn 1.6s ease-in-out 8.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeAndScale {
  0%{
    opacity: 0;
    transform: scale(0.75);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

